.App {
  text-align: center;
  font-size: 100px;
  color: #95dff3;
  background-color: rgb(241, 241, 241);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link {
  pad: 100px;
  color: #282c34;
}